{% extends 'FPT2019/head.html' %}

{% block content %}

    <div class="section">
        <h1>Bienvenue !</h1>
    </div>

	<div class="content container">
	<table style="width:100%">
  <tr>
  <td><img src="/static/FPT2019/affiche_connect.png" width=500></td>
    <td>
        <p class="emphase">Cette interface rassemble les résultats du 6<sup>ème</sup> <a href="http://fpt.science">French Physicists' Tournament</a>.</p>

        <p class="emphase">Vous pouvez cliquer sur la plupart des éléments pour afficher plus de détails ou les trier. Vous pouvez accéder aux résultats par équipe, individuels, aux notes des jurés, aux détails par rondes, par Physics' Fights, etc.</p>

		<p class="emphase">Les résultats sont mis à jour dès que possible, mais durant le tournoi ces derniers ne sont pas forcément les résultats officiels (temps de vérification de notes et temps de calcul). Surveillez vos messages et <a href="http://france.iptnet.info">le site</a> pour avoir les annonces officielles.</p>

        <p class="emphase">Si vous décelez une erreur dans l'interface ou avez une suggestion à proposer, écrivez simplement à <a href="mailto:orga@fpt.science">orga [at] fpt.science</a>.</p>


    </td>

  </tr>

</table>
    </div>


{% endblock content %}
